<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Doctor</h4>
        <h6 class="card-subtitle">Update information</h6>

        <form class="form p-t-20">
            <div class="form-group">
              <label for="exampleInputuname">Photo</label>
              <div class="input-group">
                <img
                  class="w200"
                  src="http://localhost:3001/api/uploads/users/6282ed9807eff3ca76d077b3" 
                />
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputuname">Name</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input type="text" class="form-control" id="exampleInputuname" placeholder="Doctor name">
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Hospital</label>
              <div class="input-group">
                <select class="form-control">
                  <option>Hospital 1</option>
                  <option>Hospital 2</option>
                  <option>Hospital 3</option>
                </select>
              </div>
            </div>
          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
          <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
        </form>

      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospital</h4>
        <h6 class="card-subtitle">Assigned hospital</h6>
        <img
          class="w200"
          src="http://localhost:3001/api/uploads/users/6282ed9807eff3ca76d077b3" 
        />
      </div>
    </div>

  </div>
</div>
