<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Doctor</h4>
        <h6 class="card-subtitle">Update information</h6>

        <form
            class="form p-t-20"
            [formGroup]="doctorForm"
            (submit)="saveDoctor()"
        >
            <div
              class="form-group"
              *ngIf="selectedDoctor"
            >
              <label for="exampleInputuname">Photo</label>
              <div class="input-group">
                <p>
                  <img
                    class="w200"
                    [src]="selectedDoctor.img | image:'doctors':selectedDoctor._id"
                  />
                </p>
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputuname">Name</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  id="exampleInputuname"
                  placeholder="Doctor name"
                >
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Hospital</label>
              <div class="input-group">
                <select
                  formControlName="hospital"
                  class="form-control"
                >
                  <option value="">Select hospital</option>
                  <option
                      *ngFor="let hospital of hospitals"
                      [value]="hospital._id"
                  >
                    {{ hospital.name }}
                  </option>
                </select>
              </div>
            </div>
          <button
            [disabled]="doctorForm.invalid"
            (click)="saveDoctor()"
            type="submit"
            class="btn btn-success waves-effect waves-light m-r-10"
          >
            Save
          </button>
        </form>

      </div>
    </div>
  </div>

  <div
    class="col-md-6 animated fadeIn fast"
    *ngIf="selectedHospital"
  >
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospital</h4>
        <h6 class="card-subtitle">{{ selectedHospital.name }}</h6>
        <img
          class="img-thumbnail"
          [src]="selectedHospital.img | image:'hospitals':selectedHospital._id"
        />
      </div>
    </div>

  </div>
</div>
